<div class="wrap-search">
	<input (keyup)="searchActors($event)" type="text" placeholder="Search Actor by name..." required="">
	<button type="submit" (click)="cleanInput()"> <i class="fa fa-times"></i>
	</button>
</div>

<div *ngIf="viewResults" id="search-results">
	<div *ngFor="let match of actors">
		<a (click)="redirectToActor(match.id)">
			<div class="results-content">
				<img class="image-result" src="{{getImgUrl(match.profile_path)}}" />
				<strong class="result-name">{{ match.name }}</strong>
				<br/>
				<i class="known-for">
					<span class="fa fa-star"> {{match.popularity}}</span>
				</i>
			</div>
		</a>
	</div>
</div>