<div class="header_area">
  <div class="header">
    <section id="home" class="tt-fullHeight animated bounceInDown" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
    </section>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""><img src="assets/images/logo.png" width="51px" height="41px"></a>
  <a routerLink=""><h2 class="title1">STAR<span class="title2">MOVIELIST</span></h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="movies">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="actors">Actors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
  </div>
</nav>