<header class="header_area">
  <div class="header">
      <section id="home" class="tt-fullHeight animated bounceInDown" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
          <div class="intro">
              <h1>STAR<span>MOVIELIST</span></h1>
              <p>
                  <strong>
                  </strong>
              </p>
          </div>
          <div class="mouse-icon">
              <div class="wheel"></div>
          </div>
      </section>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="51px" height="41px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Actors</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Popular</a>
            <a class="dropdown-item" href="#">Trending</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>

</header>