

/* prueba header */

.header {
  background: url(/assets/images/hollywood.jpg) no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 79px 0px 250px;
}

.header .logo img {
  max-width: 100%;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.title1 {
  color: #52b3d9;
}
.title2 {
  color: #68c3a3;
}


/*Nabvar right*/

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}
