

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Header Menu Area css
============================================================================================ */
.header_area {
    background: #fec608;
  }
  
  .header_area .navbar.navbar-default {
    border: none;
    border-radius: 0px;
    background: transparent;
    margin: 0px;
  }
  
  .header_area .navbar.navbar-default .navbar-header .navbar-brand {
    padding: 0;
    display: block;
    vertical-align: middle;
    line-height: 76px;
  }
  
  .header_area .navbar.navbar-default .navbar-header .navbar-brand img {
    display: inline-block;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
    margin-right: 40px;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
    padding: 0px;
    background: transparent;
    line-height: 80px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
    display: inline-block;
    transition: all 400ms linear 0s;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:hover a, .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.active a {
    color: #fff;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child {
    margin-right: 0px;
  }
  
  .header_area.stricky-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
  }
  
  .header_area.stricky-fixed + section, .header_area.stricky-fixed + div, .header_area.stricky-fixed + .row {
    margin-top: 80px;
  }
  
  /* End Header Menu Area css
  ============================================================================================ */
  /*---------------------------------------------------- */
  /*----------------------------------------------------*/


.image-logo{
    margin-top: -30%;
}


/* prueba header */

.header {
    background: url(/assets/images/camara.jpg) no-repeat;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 70px 0px 99px;
}

.header .logo img {
    max-width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}


.intro h1{
	font-size: 60px;
	line-height: 80px;
	margin-bottom: 16px;
	color: #52b3d9;
}
.intro h1 span{
	color: #68c3a3;
}
.intro p{
	color: #f7f7f7;
	margin-bottom: 40px;
}

.intro-sub {
	color: #fff;
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}

/*
SOCIAL ICON
-------------------------------------------*/
.social-icons {
    margin-top: 20px;
}
.social-icons a i{
    position: relative;
    color: #fff;
    font-size: 18px;
    margin: 0 7px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.social-icons a i::before {
    position: relative;
    z-index: 1;
}

.social-icons a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;
}

.social-icons a i:hover::after{
    background: #68c3a3;
    border: 1px solid transparent;
    z-index: 0;
}