<div class="container">
  <br>

  <div *ngIf="resultDetailMovie" class="row" style="margin-top: 9%;">
    <div class="col-sm-4">
      <img *ngIf='resultDetailMovie.poster_path' class="img-fluid" src="{{getImgUrl(resultDetailMovie.poster_path)}}" />
      <div *ngIf='resultDetailMovie.release_date'><label>Release Date: </label>{{resultDetailMovie.release_date}}</div>
      <div *ngIf='resultDetailMovie.genres'><label>Genres: </label><span *ngFor="let genre of resultDetailMovie.genres; let isLast=last">{{genre.name}}{{isLast
          ? '' : ', '}}</span></div>
      <div *ngIf='resultDetailMovie.budget'><label>Budget: </label>{{resultDetailMovie.budget | currency:'USD':true:'4.0-2'}}</div>
      <div *ngIf='resultDetailMovie.revenue'><label>Box office: </label>{{resultDetailMovie.revenue | currency:'USD':true:'4.0-2'}}</div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-10">
          <h2>{{resultDetailMovie.title}} ({{resultDetailMovie.release_date | date: 'yyyy'}})</h2>
        </div>
        <div class="col-sm-2">
          <h3 style="text-align:right;">{{resultDetailMovie.vote_average}} <i class="fa fa-star" aria-hidden="true"></i></h3>
        </div>
      </div>

      <span class="right"> </span><span class="left"></span>


      <br>
      <p>{{resultDetailMovie.overview}}</p>

      <div class="text-center">
        <iframe class="wrap-video" width="560" height="350" [src]="getMovieVideoUrl(movie.key) | safe" frameborder="0" allowfullscreen></iframe>
      </div>
      <h5 *ngIf="!movie" class="empty-msn">This movie doesn't have Trailer</h5>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <hr>
  <div class="wrap-carousel">
    <span class="title-images">Poster images movies</span>
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <!--First slide-->
      <mdb-carousel-item *ngFor="let movie of imagesMovie">
        <img class="d-block w-100" src="{{getImgUrl(movie.file_path)}}" alt="First slide">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

</div>

<hr>

<h1 class="principal-title">Similar movies</h1>

<div class="row">
  <div class="wrapper">
    <div class="card-personality" *ngFor="let movie of recommendationsMovie | slice:0:8">
      <a (click)="redirectToMovie(movie.id)">
        <div class="img1" [ngStyle]="{ 'background-image': 'url(' + getImgUrl(movie.poster_path) + ')'}"></div>

        <div class="title">{{movie.title}}</div>
        <a href="#"><div class="catagory">{{genresMovie(movie.genre_ids)}}<i class="fa fa-film"></i></div></a>
        <a href="#"><div class="views">{{movie.vote_average}}<i class="fa fa-star"></i> </div></a>
      </a>
    </div>
  </div>
</div>

<hr>

<h1 class="principal-title">Principal Actors</h1>

<div class="wrap-cards">
  <div class="card card-size" *ngFor="let actor of movieCredits | slice:0:10">
    <img class="card-img-top" src="{{getImgUrl(actor.profile_path)}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="post-title">
        <a [routerLink]="['/actor', actor.id]">{{actor.name}}</a>
      </h4>
      <div class="post-by">
        <i class="fa fa-star"></i><span class="divider"> {{actor.character}}</span>
      </div>
      <div class="read-btn-container">
        <a [routerLink]="['/actor', actor.id]">View details <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
</div>