/* About Person area css
============================================================================================ */
.main_title {
  display: flex;
  justify-content: center;
}

.about_person_area {
  margin-top: 4%;
}

.main_title h2 {
  font-size: 36px;
  color: #222222;
  text-align: center;
  border: 1px solid #222222;
  display: inline-block;
  line-height: 50px;
  padding: 0px 23px;
  font-weight: 400;
}

.row-responsive {
  margin-top: 20px;
  margin-right: 1px !important;
  margin-left: 14px !important;
}

.about_person_area .person_img {
  max-width: 400px;
}

.about_person_area .person_img img {
  max-width: 280px;
  margin-top: 6%;
}

.about_person_area .person_details h3 {
  font-size: 36px;
  color: #333333;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

.about_person_area .person_details h3 span {
  color: #fec608;
}

.about_person_area .person_details h4 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #666666;
  padding-bottom: 15px;
}

.about_person_area .person_details p {
  font-size: 19px;
  line-height: 24px;
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* End About Person area css
    ============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Download BTN area css
    ============================================================================================ */

.download-cv {
  border-radius: 20px;
  padding: 14px 20px;
  background: #fec608;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.wrapp-buttons {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

/* End Download BTN area css
    ============================================================================================ */
/*---------------------------------------------------- */

.wrapp-image {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.img-about {
  transform: rotate(360deg);
  border-radius: 21px;
}

.biography {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #eeeeee;
  position: relative;
}
