<section class="about_person_area pad" id="about">

    <div class="title-about">
        <h2 class="title-skill">About me</h2>
    </div>
    <div style="display: flex;
  flex-direction: column;
  padding-bottom: 2%;">
        <div class="wrapp-image">
            <div>
                <div class="person_img">
                    <img class="img-about" src="assets/images/david-zuluaga.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row" style=" margin-right: 1px !important;
  margin-left: 14px !important;">
        <div class="col-md-12">
            <div class="row person_details">
                <h3>Hi I'm <span>David Fernando Zuluaga</span></h3>
                <h4>Fullstack Developer</h4>
                <p> My name is {{information.name}}. I am {{information.age}} years old. Software Engineer with 1+ years
                    in software development with knowledge in Front-End Technologies such as Angular, React, HTML5, CSS3,
                    JQuery, JavaScript and Typescript, and in Backend technologies such as Python, Django rest framework
                    and PostgreSQL, I also have experience in Database design and Service Oriented Architectures.</p>
                <br>

                <div class="col-md-6">
                    <ul class="list-check">
                        <li>Software Engineer</li>
                        <li>UI Programming</li>
                        <li>BackEnd Programming</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-check">
                        <li>Data Base Design</li>
                        <li>DevOps Culture</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px; margin-right: 1px !important; 
  margin-left: 14px !important;">
        <div class="col-md-12">
            <div class="row person_details">
                <h4>WHAT I AM PASSIONATE FOR ?</h4>

                <p>I am passionate about implementing new technologies and writing coding.</p>
                <br>
                <div class="col-md-6">
                    <ul class="list-check">
                        <li>Travel</li>
                        <li>Music</li>
                        <li>Dance any music</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-check">
                        <li>Drink a good beer</li>
                        <li>Relation with the people</li>
                        <li>DevOps Culture</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row wrapp-buttons">
        <a class="download-cv" href="assets/CV_David_Zuluaga.pdf" download="CV-David_zuluaga.pdf"> DOWNLOAD MY CV</a>
    </div>
</section>